<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	<add key="cbm_nugets" value="http://192.168.25.188:8081/repository/nuget-release/" allowInsecureConnections="true" />
  </packageSources>
  <packageSourceCredentials>
    <cbm_nugets>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="admin123" />
    </cbm_nugets>
  </packageSourceCredentials>
</configuration>
